<div class="container__big-card">
    <div class="big-card__photo">
      <img
      src = "https://fakeimg.pl/400x200?text=400x200"
      alt=""
      height="200px"
      srcset="">
    </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão de Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem eaque ex placeat maxime! Earum ipsa doloribus non incidunt qui id voluptate officiis. Magnam optio ab blanditiis odio vero accusantium reprehenderit.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere cumque dolorem, at voluptatum, exercitationem voluptatibus repellat nostrum architecto pariatur reprehenderit dolorum debitis nobis, assumenda quasi tempore. Ipsum, optio quaerat! Laborum?
      </a>
    </p>
  </div>
</div>
